
.icon-github-1:before { content: '\e80c'; } /* '' */
.icon-youtube:before { content: '\e80b'; } /* '' */
.icon-flickr-1:before { content: '\e816'; } /* '' */
.icon-flickr-circled:before { content: '\e817'; } /* '' */
.icon-vimeo:before { content: '\e818'; } /* '' */
.icon-vimeo-circled:before { content: '\e81d'; } /* '' */
.icon-twitter-1:before { content: '\e81e'; } /* '' */
.icon-twitter-circled:before { content: '\e821'; } /* '' */
.icon-facebook-1:before { content: '\e822'; } /* '' */
.icon-facebook-circled:before { content: '\e825'; } /* '' */
.icon-facebook-squared:before { content: '\e826'; } /* '' */
.icon-gplus:before { content: '\e829'; } /* '' */
.icon-gplus-circled:before { content: '\e82d'; } /* '' */
.icon-pinterest:before { content: '\e82c'; } /* '' */
.icon-pinterest-circled:before { content: '\e82e'; } /* '' */
.icon-tumblr-1:before { content: '\e830'; } /* '' */
.icon-tumblr-circled:before { content: '\e831'; } /* '' */
.icon-linkedin-1:before { content: '\e835'; } /* '' */
.icon-linkedin-circled:before { content: '\e836'; } /* '' */
.icon-dribbble:before { content: '\e838'; } /* '' */
.icon-dribbble-circled:before { content: '\e80e'; } /* '' */
.icon-stumbleupon:before { content: '\e80f'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e812'; } /* '' */
.icon-lastfm:before { content: '\e815'; } /* '' */
.icon-lastfm-circled:before { content: '\e819'; } /* '' */
.icon-rdio:before { content: '\e81c'; } /* '' */
.icon-rdio-circled:before { content: '\e81f'; } /* '' */
.icon-spotify:before { content: '\e820'; } /* '' */
.icon-spotify-circled:before { content: '\e823'; } /* '' */
.icon-qq:before { content: '\e824'; } /* '' */
.icon-instagram:before { content: '\e827'; } /* '' */
.icon-dropbox:before { content: '\e828'; } /* '' */
.icon-evernote:before { content: '\e82a'; } /* '' */
.icon-flattr:before { content: '\e82b'; } /* '' */
.icon-skype-1:before { content: '\e82f'; } /* '' */
.icon-skype-circled:before { content: '\e833'; } /* '' */
.icon-renren:before { content: '\e832'; } /* '' */
.icon-sina-weibo:before { content: '\e834'; } /* '' */
.icon-paypal:before { content: '\e837'; } /* '' */
.icon-picasa-1:before { content: '\e839'; } /* '' */
.icon-soundcloud:before { content: '\e810'; } /* '' */
.icon-mixi:before { content: '\e811'; } /* '' */
.icon-behance:before { content: '\e813'; } /* '' */
.icon-google-circles:before { content: '\e814'; } /* '' */
.icon-vkontakte:before { content: '\e81a'; } /* '' */
.icon-smashing:before { content: '\e81b'; } /* '' */
.icon-dribbble-circled-2:before { content: '\e85f'; } /* '' */
.icon-dribbble-3:before { content: '\e861'; } /* '' */
.icon-facebook-circled-2:before { content: '\e862'; } /* '' */
.icon-facebook-3:before { content: '\e866'; } /* '' */
.icon-flickr-circled-1:before { content: '\e863'; } /* '' */
.icon-flickr-2:before { content: '\e864'; } /* '' */
.icon-github-circled-2:before { content: '\e865'; } /* '' */
.icon-github-3:before { content: '\e868'; } /* '' */
.icon-lastfm-circled-1:before { content: '\e869'; } /* '' */
.icon-lastfm-1:before { content: '\e86b'; } /* '' */
.icon-linkedin-circled-2:before { content: '\e86a'; } /* '' */
.icon-linkedin-3:before { content: '\e86c'; } /* '' */
.icon-github-circled:before { content: '\e80d'; } /* '' */
.icon-pinterest-2:before { content: '\e86e'; } /* '' */
.icon-skype-outline:before { content: '\e86f'; } /* '' */
.icon-skype-2:before { content: '\e870'; } /* '' */
.icon-tumbler-circled:before { content: '\e871'; } /* '' */
.icon-tumbler:before { content: '\e872'; } /* '' */
.icon-twitter-circled-2:before { content: '\e873'; } /* '' */
.icon-twitter-3:before { content: '\e874'; } /* '' */
.icon-vimeo-circled-1:before { content: '\e867'; } /* '' */
.icon-vimeo-2:before { content: '\e860'; } /* '' */
.icon-github-2:before { content: '\e85e'; } /* '' */
.icon-github-circled-1:before { content: '\e85d'; } /* '' */
.icon-github-circled-alt:before { content: '\e85c'; } /* '' */
.icon-github-circled-alt2:before { content: '\e85b'; } /* '' */
.icon-twitter-2:before { content: '\e85a'; } /* '' */
.icon-twitter-circled-1:before { content: '\e859'; } /* '' */
.icon-facebook-2:before { content: '\e858'; } /* '' */
.icon-facebook-circled-1:before { content: '\e857'; } /* '' */
.icon-gplus-1:before { content: '\e856'; } /* '' */
.icon-gplus-circled-1:before { content: '\e855'; } /* '' */
.icon-linkedin-2:before { content: '\e854'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e853'; } /* '' */
.icon-dribbble-2:before { content: '\e852'; } /* '' */
.icon-dribbble-circled-1:before { content: '\e851'; } /* '' */
.icon-instagram-2:before { content: '\e850'; } /* '' */
.icon-instagram-circled:before { content: '\e84f'; } /* '' */
.icon-soundcloud-1:before { content: '\e84e'; } /* '' */
.icon-soundcloud-circled:before { content: '\e84d'; } /* '' */
.icon-behance-1:before { content: '\e83e'; } /* '' */
.icon-blogger:before { content: '\e83f'; } /* '' */
.icon-cc:before { content: '\e840'; } /* '' */
.icon-delicious:before { content: '\e841'; } /* '' */
.icon-deviantart:before { content: '\e842'; } /* '' */
.icon-digg:before { content: '\e843'; } /* '' */
.icon-dribbble-1:before { content: '\e844'; } /* '' */
.icon-facebook:before { content: '\e845'; } /* '' */
.icon-flickr:before { content: '\e805'; } /* '' */
.icon-foursquare:before { content: '\e846'; } /* '' */
.icon-friendfeed:before { content: '\e847'; } /* '' */
.icon-friendfeed-rect:before { content: '\e848'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-github-text:before { content: '\e849'; } /* '' */
.icon-googleplus:before { content: '\e803'; } /* '' */
.icon-instagram-1:before { content: '\e84a'; } /* '' */
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-path:before { content: '\e84b'; } /* '' */
.icon-picasa:before { content: '\e801'; } /* '' */
.icon-pinterest-1:before { content: '\e84c'; } /* '' */
.icon-reddit:before { content: '\e83d'; } /* '' */
.icon-skype:before { content: '\e83c'; } /* '' */
.icon-slideshare:before { content: '\e83b'; } /* '' */
.icon-stackoverflow:before { content: '\e802'; } /* '' */
.icon-stumbleupon-1:before { content: '\e83a'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-tumblr:before { content: '\e809'; } /* '' */
.icon-vimeo-1:before { content: '\e808'; } /* '' */
.icon-vkontakte-1:before { content: '\e807'; } /* '' */
.icon-wordpress:before { content: '\e806'; } /* '' */
.icon-pinterest-circled-1:before { content: '\e86d'; } /* '' */